* {
  font-family: "Montserrat", sans-serif;
}

.BtnCefela {
  color: black;
  background-color: #cefe1a;
}

.BtnCefela:hover {
  background-color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.9);
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #cefe1a;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.TxtNav {
  color: white;
}

.TxtNav:hover {
  color: #cefe1a;
}

body {
  background: #040402;
  color: white;
}

footer {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
}

.Iconos {
  font-size: 150px;
  text-align: center;
  background-color: #cefe1a;
}

.card {
  background-color: #191919;
}

.linea::after {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #cefe1a;
  margin: 10px auto 40px;
}

.Box {
  background: #191919;
  font-size: 20px;
  color: #8e8e8e;
  padding: 30px;
  transition: all 0.3s;
  min-width: 200px;
  text-align: center;
}

.skill_item {
  background: #191919;
  font-size: 65px;
  color: #8e8e8e;
  padding: 35px;
  transition: all 0.3s;
  min-width: 200px;
  text-align: center;
}

.skill_item p {
  font-size: 20px;
}

.skill_item:hover {
  transition: border 0.3s;
  color: #cefe1a;
  border-bottom: 5px solid #cefe1a;
}

.Contain-Projects {
  text-align: center;
}

.social-media {
  padding: 20px;
  font-size: 50px;
}

.social-media i:hover {
  transition: border 0.3s;
  color: #cefe1a;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.alertxd {
  color: black;
  display: none;
}
